In [ ]:
from pandas.io.parsers.readers import read_csv
import numpy as np

import pandas as pd
df = pd.DataFrame()

df=read_csv("Test.csv")
df2=read_csv("Train.csv")

final=pd.concat([df, df2], ignore_index=0)

In [ ]:
final.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Ford Figo Diesel Titanium,Delhi,2010,48928,Diesel,Automatic,First,17.8 kmpl,1248 CC,258 bhp,7.0,NaN,NaN
1,Maruti SX4 VDI,Jaipur,2011,47428,Diesel,Automatic,First,23.9 kmpl,2498 CC,183 bhp,5.0,4.33 Lakh,NaN
2,Hyundai Creta 1.6 SX Option,Bangalore,2014,28984,Petrol,Automatic,First,19.59 kmpl,2494 CC,203 bhp,5.0,71.15 Lakh,NaN
3,Jeep Compass 2.0 Limited 4X4,Kochi,2017,46735,Petrol,Manual,First,23.9 kmpl,1498 CC,215 bhp,5.0,NaN,NaN
4,Maruti Swift Dzire VDI,Kochi,2015,19975,Petrol,Automatic,First,26.6 km/kg,2993 CC,147.8 bhp,7.0,NaN,NaN

In [ ]:
final.shape

(75000, 13)

In [ ]:
final.isnull().sum()/len(final)

Name                 0.000000
Location             0.000000
Year                 0.000000
Kilometers_Driven    0.000000
Fuel_Type            0.000000
Transmission         0.000000
Owner_Type           0.000000
Mileage              0.004547
Engine               0.001413
Power                0.004227
Seats                0.004507
New_Price            0.825787
Price                0.700000
dtype: float64

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75000 entries, 0 to 22499
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               75000 non-null  object
 1   Location           75000 non-null  object
 2   Year               75000 non-null  int64
 3   Kilometers_Driven  75000 non-null  int64
 4   Fuel_Type          75000 non-null  object
 5   Transmission       75000 non-null  object
 6   Owner_Type         75000 non-null  object
 7   Mileage            74659 non-null  object
 8   Engine             74894 non-null  object
 9   Power              74683 non-null  object
 10  Seats              74662 non-null  float64
 11  New_Price          13066 non-null  object
 12  Price              22500 non-null  float64
dtypes: float64(2), int64(2), object(9)
memory usage: 8.0+ MB

In [ ]:
final.Mileage.mode()[0]

'26.6 km/kg'

In [ ]:
final["Mileage"]=final.Mileage.fillna(final.Mileage.mode()[0])

In [ ]:
final.Mileage.isnull().sum()

0

In [ ]:
final.Engine.mode()[0]
final["Engine"]=final.Engine.fillna(final.Engine.mode()[0])

In [ ]:
final.Engine.isnull().sum()

0

In [ ]:

final["Power"]=final.Power.fillna(final.Power.mode()[0])

In [ ]:
final.Engine.isnull().sum()

0

In [ ]:
final.Engine.isnull().sum()

0

In [ ]:
final["Seats"]=final.Seats.fillna(final.Seats.mode()[0])

In [ ]:
final.Seats.value_counts()

5.0    61694
7.0     9535
8.0     2654
4.0      777
6.0      340
Name: Seats, dtype: int64

In [ ]:
final.Engine.isnull().sum()

0

In [ ]:
final.isnull().sum()

Name                     0
Location                 0
Year                     0
Kilometers_Driven        0
Fuel_Type                0
Transmission             0
Owner_Type               0
Mileage                  0
Engine                   0
Power                    0
Seats                    0
New_Price            61934
Price                52500
dtype: int64

In [ ]:
final.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Ford Figo Diesel Titanium,Delhi,2010,48928,Diesel,Automatic,First,17.8 kmpl,1248 CC,258 bhp,7.0,NaN,NaN
1,Maruti SX4 VDI,Jaipur,2011,47428,Diesel,Automatic,First,23.9 kmpl,2498 CC,183 bhp,5.0,4.33 Lakh,NaN
2,Hyundai Creta 1.6 SX Option,Bangalore,2014,28984,Petrol,Automatic,First,19.59 kmpl,2494 CC,203 bhp,5.0,71.15 Lakh,NaN
3,Jeep Compass 2.0 Limited 4X4,Kochi,2017,46735,Petrol,Manual,First,23.9 kmpl,1498 CC,215 bhp,5.0,NaN,NaN
4,Maruti Swift Dzire VDI,Kochi,2015,19975,Petrol,Automatic,First,26.6 km/kg,2993 CC,147.8 bhp,7.0,NaN,NaN

In [ ]:
final.Location.nunique()

11

In [ ]:
final.drop(["Name", "Location"], axis=1,inplace=True)

In [ ]:
final.drop(["Year"], axis=1,inplace=True)

In [ ]:
final.drop(["Kilometers_Driven"], axis=1,inplace=True)

In [ ]:
final.head()

,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Diesel,Automatic,First,17.8 kmpl,1248 CC,258 bhp,7.0,NaN,NaN
1,Diesel,Automatic,First,23.9 kmpl,2498 CC,183 bhp,5.0,4.33 Lakh,NaN
2,Petrol,Automatic,First,19.59 kmpl,2494 CC,203 bhp,5.0,71.15 Lakh,NaN
3,Petrol,Manual,First,23.9 kmpl,1498 CC,215 bhp,5.0,NaN,NaN
4,Petrol,Automatic,First,26.6 km/kg,2993 CC,147.8 bhp,7.0,NaN,NaN

In [ ]:
lst=[]
for i in final.Fuel_Type:
  if i == "Petrol":
    lst.append(0)
  elif i == "Diesel":
    lst.append(1)
  elif i == "CNG":
    lst.append(2)
  elif i == "LPG":
    lst.append(3)
  else:
    lst.append(4)

In [ ]:
final.Fuel_Type = lst

In [ ]:
final.Fuel_Type.value_counts()

0    33678
1    33567
2     7648
3       57
4       50
Name: Fuel_Type, dtype: int64

In [ ]:
final.head()

,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Automatic,First,17.8 kmpl,1248 CC,258 bhp,7.0,NaN,NaN
1,1,Automatic,First,23.9 kmpl,2498 CC,183 bhp,5.0,4.33 Lakh,NaN
2,0,Automatic,First,19.59 kmpl,2494 CC,203 bhp,5.0,71.15 Lakh,NaN
3,0,Manual,First,23.9 kmpl,1498 CC,215 bhp,5.0,NaN,NaN
4,0,Automatic,First,26.6 km/kg,2993 CC,147.8 bhp,7.0,NaN,NaN

In [ ]:
lst1=[]
for i in final.Transmission:
  if i == "Automatic":
    lst1.append(0)
  else:
    lst1.append(1)

In [ ]:
final.Transmission = lst1

In [ ]:
lst2=[]
for i in final.Owner_Type:
  if i == "First":
    lst2.append(1)
  elif i == "Second":
    lst2.append(2)
  elif i == "Third":
    lst2.append(3)
  else:
    lst2.append(4)

In [ ]:
final.Owner_Type = lst2
final.head()

,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,0,1,17.8 kmpl,1248 CC,258 bhp,7.0,NaN,NaN
1,1,0,1,23.9 kmpl,2498 CC,183 bhp,5.0,4.33 Lakh,NaN
2,0,0,1,19.59 kmpl,2494 CC,203 bhp,5.0,71.15 Lakh,NaN
3,0,1,1,23.9 kmpl,1498 CC,215 bhp,5.0,NaN,NaN
4,0,0,1,26.6 km/kg,2993 CC,147.8 bhp,7.0,NaN,NaN

In [ ]:
final.Owner_Type.value_counts()

1    67452
2     5647
3     1736
4      165
Name: Owner_Type, dtype: int64

In [ ]:
final["Mileage"]=final.Mileage.apply(lambda x:x.split(' ')[0])

In [ ]:
final["Engine"]=final.Engine.apply(lambda x:x.split(' ')[0])

In [ ]:
final["Power"]=final.Power.apply(lambda x:x.split(' ')[0])

In [ ]:
final.head(10)

,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,0,1,17.8,1248,258,7.0,0,NaN
1,1,0,1,23.9,2498,183,5.0,4.33,NaN
2,0,0,1,19.59,2494,203,5.0,71.15,NaN
3,0,1,1,23.9,1498,215,5.0,0,NaN
4,0,0,1,26.6,2993,147.8,7.0,0,NaN
5,0,1,2,17.0,1798,81.86,5.0,0,NaN
6,1,0,1,23.2,2143,53.3,6.0,0,NaN
7,1,1,1,18.88,1591,58.16,5.0,0,NaN
8,0,1,1,26.6,1197,65,5.0,0,NaN
9,2,1,2,17.0,1061,74.96,5.0,0,NaN

In [ ]:
final.Power.value_counts()

58.16     4867
67.1      3014
null      2316
121.3     1604
70        1549
          ...
74.93       16
52.8        16
73.74       15
254         12
181.04       7
Name: Power, Length: 372, dtype: int64

In [ ]:
lst3=[]
for i in final.Power:
  if i == "null":
    lst3.append(0)
  else:
    lst3.append(i)

In [ ]:
final.Power=lst3

In [ ]:
final.Power.value_counts()

58.16     4867
67.1      3014
0         2316
121.3     1604
70        1549
          ...
74.93       16
52.8        16
73.74       15
254         12
181.04       7
Name: Power, Length: 372, dtype: int64

In [ ]:
final["New_Price"]= final.New_Price.fillna(0)

In [ ]:
final["New_Price"]=final.New_Price.str.split(" ").str[0]

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75000 entries, 0 to 22499
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fuel_Type     75000 non-null  int64
 1   Transmission  75000 non-null  int64
 2   Owner_Type    75000 non-null  int64
 3   Mileage       75000 non-null  object
 4   Engine        75000 non-null  object
 5   Power         75000 non-null  object
 6   Seats         75000 non-null  float64
 7   New_Price     75000 non-null  object
 8   Price         22500 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 5.7+ MB

In [ ]:
final['New_Price']=final.New_Price.astype("float")

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75000 entries, 0 to 22499
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fuel_Type     75000 non-null  int64
 1   Transmission  75000 non-null  int64
 2   Owner_Type    75000 non-null  int64
 3   Mileage       75000 non-null  float64
 4   Engine        75000 non-null  int64
 5   Power         75000 non-null  float64
 6   Seats         75000 non-null  float64
 7   New_Price     75000 non-null  float64
 8   Price         22500 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 5.7 MB

In [ ]:
final['Mileage']=final.Mileage.astype("float")

In [ ]:
final['Engine']=final.Engine.astype("int")
final['Power']=final.Power.astype("float")

In [ ]:
dummy_data = pd.get_dummies(final, drop_first=True)

In [ ]:
newtrain = dummy_data.iloc[0:df2.shape[0]:, :]
newtest = dummy_data.iloc[df2.shape[0]:, :]

In [ ]:
newtrain.shape, newtest.shape

((22500, 9), (52500, 9))

In [ ]:
df.shape, df2.shape

((52500, 12), (22500, 13))

In [ ]:
newtrain.head()

,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,0,1,17.80,1248,258.0,7.0,0.00,NaN
1,1,0,1,23.90,2498,183.0,5.0,4.33,NaN
2,0,0,1,19.59,2494,203.0,5.0,71.15,NaN
3,0,1,1,23.90,1498,215.0,5.0,0.00,NaN
4,0,0,1,26.60,2993,147.8,7.0,0.00,NaN

In [ ]:
X = newtrain.drop(['Price'], axis=1)
y = newtrain['Price']

In [ ]:
newtest.drop(['Price'], axis=1, inplace=True)

<ipython-input-70-cdb2e0195813>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newtest.drop(['Price'], axis=1, inplace=True)

In [ ]:
from lightgbm import LGBMRegressor

lgbm = LGBMRegressor(max_depth=3)
pred_lgbm = lgbm.fit(X,y).predict(newtest)

In [ ]:
submission = pd.DataFrame({'Name': df.Name, 'Price':pred_lgbm})
submission.to_csv('LGBMModel.csv', index=False)